@charset "utf-8";

.coupons_list {
	width: 90%;
	margin: 20px auto;
	position: relative;
}
.coupons_top {
	padding: 10px 5%;
	background: #9ed4e9;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px dashed #fff;
	clear: both;
	overflow: hidden;
}
.ky_tit {
	font-size: 0.75em;
	line-height: 20px;
	color: #fff;
	padding-left: 15px;
	clear: both;
	overflow: hidden;
}
.coupons_left {
	width: 30%;
	float: left;
	color: #fff;
	height: 55px;
	line-height: 55px;
}
.coupons_left .coupons_sum {
	font-size: 1.5em;
}

.coupons_right {
	width: 65%;
	float: right;
	padding-left: 5%;
	font-size: 1.5em;
}
.coupons_right p {
	opacity: 0.6;
}
.coupons_right .small {
	font-size: 16px;
}
.coupons_bottom {
	padding: 10px 5%;
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	clear: both;
	overflow: hidden;
}
.coupons_bottom .time {
	width: 100%;
	text-align: left;
	font-size: 0.75em;
}
.coupons_bottom .take {
	font-size: 1.125em;
	text-align: right;
	color: #9ed4e9;
	height: 30px;
	line-height: 30px;
}


/*coupons*/
.header-right {
	font-size: 0.875em;
}
.coupons_bottom .use {
	font-size: 0.75em;
	text-align: right;
	color: #222;
	height: 20px;
	line-height: 20px;
}

/*已过期*/
.passed {
	position: absolute;
	top: 20px;
	right: -5px;
}


