.row{
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.img_box{
    display: inline-block;
    float: left;
    width: 20%;
    margin-left: 2%;
    height: 90px;
    line-height: 90px;

}
.img_box img{
    width: 75px;
}
.text_box{
    float: left;
    margin-left: 2%;
    display: inline-block;
    width: 50%;
    height: 90px;

}
.text_box span{
    line-height: 30px;
    font-size: 0.875em;
}
.nl_box{
    float: left;
    display: inline-block;
    width: 15%;
    height: 90px;
    line-height: 90px;

}
.nl_box span{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #4fc1e9;
    border: 5px solid  #92d4eb;
    color: white;
    text-align: center;
    font-size: 0.5em;
    line-height: 50px;
    margin-right: 20%;
}
#ts{
    margin-left: 2%;
    line-height: 25px;
    font-size: 0.875em;
    display: inline-block;
    width: 30%;
    float: left;
    clear: both;
}
.row label{
    margin-left: 2%;
    line-height: 25px;
    font-size: 0.875em;
    display: inline-block;
    width: 20%;
    float: left;
    clear: both;
}
.text{
    color: #969696;
    font-size: 0.875em;
    line-height: 25px;
    display: inline-block;
    width: 30%;
}
.text1{
    color: #969696;
    font-size: 0.875em;
    line-height: 25px;
    display: inline-block;
    width: 40%;
}
.text2{
    color: #969696;
    font-size: 0.875em;
    line-height: 25px;
    display: inline-block;
}
.texts{
    color: #969696;
    font-size: 0.875em;
    line-height: 25px;
    display: inline-block;
    width: 100%;
}
.right{
    float: left;
    width: 60%;
}
.right1{
    float: left;
    width: 20%;

}
.right2{
    float: left;
    width: 55%;

}
.font{
    font-size: 0.875em;
    margin-top: -40px;
}
.left{
    float: left;
}


/*订单详情*/
.zzc{
    width: 100%;
    background-color: white;
    overflow: hidden;
    height: 50px;
    font-size: 0.875em;
}
.zzc_t1{
    width: 38%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 2%;
}
.zzc input{
    width: 50%;
    border: none;
    outline: none;
}
.zzc select{
    width: 50%;
    border: none;
    outline: none ;
}
.zzc_grey{
    color: #969696;
}