
* {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 24px;
}

div#container {
    padding: 0px 15px;
    box-sizing: border-box;
    margin-top: 10px;
}

#workAddress {
    overflow: hidden;
    width: 240px;
    margin: 50px auto 0px;
}

#workAddress > div {
    width: 118px;
    border: 1px solid #bababa;
    float: left;
    height: 46px;
    text-align: center;
}

#container p {
    color: #1cba93;
    margin: 3px 0px;
}

table {
    width: 95%;
    border: none;
    text-align: center;
    margin: 0px auto;
}

#container p, td {
    font-size: 14px;
}

th {
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
}

tbody tr {
    border-bottom: 1px solid #c0c0c0;
    line-height: 30px;
}

td span {
    padding: 2px 3px;
    border-radius: 4px;
    background: #eeeeee;
    color: #bababa;
}

.canChoose {
    background: #1cba93;
    color: white;
    padding: 2px 3px;
    border-radius: 4px;
}
.header-left div {
    background: url("../images/prev_01.png") no-repeat center center;
    background-size: 25px;
    height: 45px;
}