.header-right>span{
    padding: 4px 7px;
    border-radius: 4px;
    background: #4FC1E9;
    color: #ffffff;
    font-size: 14px;
}
.con-head {
    width: 93%;
    overflow: hidden;
    padding: 10px 0px;
    margin: 0px auto;
    text-align: left;
}

.con-head > div {
    width: 25%;
    float: left;
    line-height: 28px;
}
.con-head > div:nth-child(4){
    width: 20%;
}
.con-head > div:nth-child(2){
    width: 30%;
}
.con-head > div > p {
    width: 84%;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #4FC1E9;
    border-radius: 6px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.listaddress{
    overflow: hidden;
}
.cont > div {
    overflow: hidden;
    width: 93%;
    margin: 0px auto;
    line-height: 54px;
    text-align: center;
    font-size: 0.8rem;
}

.cont > div > div {
    width: 25%;
    float: left;
}
.cont > div > div:nth-child(4){
    width: 20%;
}
.cont > div > div:nth-child(2) {
    width: 30%;
}
.cont > div > div:nth-child(4) > p {
    width: 48px;
    height: 40px;
    padding: 4px 0px;
    line-height: 20px;
    border-radius: 100%;
    background: #4FC1E9;
    color: #ffffff;
    margin: 0px auto;
    font-size: 14px;
}
