body {
    background: #ffffff;
    color: #505050;
    text-align: center;
}

.gray_ss {
    height: 4px;
    background: #F7F7F7;
}

.gray_s {
    height: 10px;
    background: #F7F7F7;
}

#header {
    height: 45px;
    line-height: 45px;
}

#header > ul {
    width: 70%;
    border: 2px solid #4FC1E9;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 2%;
}

#header > ul > li {
    width: 33.3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
#header > ul > li:nth-child(1){
    border-right: 1px solid #4FC1E9;
}
#header > ul > li:nth-child(2){
    border-right: 1px solid #4FC1E9;
}
.speblue {
    background: #4FC1E9;
    color: #ffffff;
}
/*#header>div{*/
    /*width: 24%;*/
    /*float: right;*/
/*}*/
#header>div>p{
    font-size: 12px;
    line-height: 20px;
}
#loginName{
    color: #909090;
}
#orgOutLogin{
    background: #11777C;
    color: #ffffff;
    border-radius: 4px;
}