
body {
    background: #ffffff;
    color: #505050;
    text-align: center;
}




.personal_list > div {
    width: 100%;
    padding: 0px 15px 0px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.personal_list input {
    border: 1px solid #CCCCCC;
    width: 60%;
    -webkit-box-shadow: 0px -1px 1px 0px #ccc;
    -moz-box-shadow: 0px -1px 1px 0px #ccc;
    box-shadow: 0px -1px 1px 0px #ccc;
    height: 30px;
    border-radius: 6px;
    text-align: left;
    float: left;
}

.speblue {
    background: #4FC1E9;
    color: #ffffff;
}

#footer > div {
    width: 20%;
    margin-left: 30px;
    text-align: left;
}

.search {
    width: 30%;
    line-height: 32px;
    background: #4FC1E9;
    border-radius: 6px;
    color: #ffffff;
    float: right;
}

.con-head {
    overflow: hidden;
    border-bottom: 10px solid #CCCCCC;
    border-top: 10px solid #CCCCCC;
    padding: 0px 3.5%;
    line-height: 38px;
    text-align: left;
    font-size: 18px;
}

.cont > div {
    overflow: hidden;
    width: 93%;
    margin: 0px auto;
    text-align: left;
    height: 56px;
    padding: 6px 0px;
    font-size: 12px;
}

.cont > div > div {
    width: 25%;
    float: left;
    line-height: 26px;
}
.cont > div > div:nth-child(4){
    width: 20%;
}
.cont > div > div:nth-child(3){
    width: 30%;
}
.cont > div > div > span {
    padding: 2px 4px;
    border: 1px solid #4FC1E9;
    border-radius: 4px;
    color: #4FC1E9;
}
.cont > div > div:nth-child(4) > p {
    width: 48px;
    height: 40px;
    padding: 4px 0px;
    line-height: 20px;
    border-radius: 100%;
    background: #4FC1E9;
    color: #ffffff;
    margin: 0px auto;
    font-size: 14px;
    text-align: center;
    float: right;
}
.vaccine-time{
    font-size: 12px;
    width: 100%;
    line-height: 24px;
}
.personal_list .appDate2{
    width: 34%;
    margin-left: 3%;
}
.personal_list >.search,.personal_list >.historylist{
    width: 41%;
    float: left;
    line-height: 34px;
    background: #4FC1E9;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 6%;
    padding: 0px;
}

.vaccine-time select{
    -webkit-appearance: searchfield;
    -moz-appearance: searchfield;
    width: 100%;
    line-height: 22px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.vaccine-time input{
    width: 100%;
    line-height: 22px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.cont > div > div.vaccine-time > span{
    border: none;
    color: #505050;
}
.hr{
    width: 100%;
    height: 1px;
    background: #CCCCCC;
}

