
body {
    line-height: 40px;
}

header {
    margin-top: 50px;
}

header > input {
    width: 100%;
    padding: 0 20px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    color: #bababa;
}

#historyAddress {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#historyAddress > p {
    color: #bababa;
}

.historyAddress > div {
    margin: 20px 0px;
}


#footer p{
    height: 43px;
}
.header-left div {
    background: url("../images/prev_01.png") no-repeat center center;
    background-size: 25px;
    height: 45px;
}

