@charset "utf-8";

/*个人中心 personalcenter*/
.pl_10 {
	padding-left: 10px;
}
.personal_box {
	width: 90%;
	margin: 10px auto;
	padding: 15px 5%;
	clear: both;
	overflow: hidden;
	background: #fff;
}
.personal_box .personal_box_left {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*background: #000;*/
	float: left;
}
.personal_box .personal_box_left img{
	width: 100%;
	border-radius:50%;
}
.personal_box .personal_box_right {
	margin-left: 80px;
}
.personal_box .personal_box_right .name {
	font-size: 1em;
}
.personal_box .personal_box_right .title,
.personal_box .personal_box_right .unit {
	font-size: 0.875em;
}
.personal_list {
	width: 90%;
	padding: 0 5%;
	height: 50px;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.personal_list .personal_left {
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 15%;
	width: 75%;
}
.personal_list .personal_right {
	float: right;
	font-size: 2em;
	color: #c8c8c8;
	width: 10%;
	height: 50px;
	line-height: 50px;
	text-align: right;
}
.personal_list .list01 {
	background: url(../images/personal_icon01.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list02 {
	background: url(../images/personal_icon02.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list03 {
	background: url(../images/personal_icon03.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list04 {
	background: url(../images/personal_icon04.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list13 {
    background: url(../images/menzhen.png) no-repeat -1px 8px;
    width: 100%;
    height: 50px;
    background-size: 33px 33px;
}
.personal_list .list05 {
	background: url(../images/personal_icon05.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list06 {
	background: url(../images/personal_icon06.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list07 {
	background: url(../images/personal_icon07.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list08 {
	background: url(../images/personal_icon08.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list09 {
	background: url(../images/personal_icon09.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list010 {
	background: url(../images/personal_icon010.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list011 {
	background: url(../images/personal_icon011.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.personal_list .list012 {
	background: url(../images/personal_icon012.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.logout {
	text-align: center;
	background: #fff;
	height: 60px;
	line-height: 60px;
	margin: 20px 0;
}

/*我的账户 account*/
.account_list {
	width: 90%;
	padding: 0 5%;
	height: 50px;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.account_list .account_left {
	float: left;
	line-height: 50px;
	padding-left: 15%;
	width: 15%;
}
.account_list .account_center {
	float: left;
	line-height: 50px;
	width: 60%;
	text-align: right;
	color: #c8c8c8;
}
.account_list .account_right {
	float: right;
	font-size: 2em;
	color: #c8c8c8;
	width: 10%;
	text-align: right;
}
.account_list .list01 {
	background: url(../images/account_icon01.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}
.account_list .list02 {
	background: url(../images/account_icon02.png) no-repeat left center;
	width: 100%;
	height: 50px;
	background-size: 30px 30px;
}

/*我的余额 我的积分 balance point*/
.balance_top {
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: #1cba93;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
}
.balance_top p:first-child {
	font-size: 1.375em;
	padding-top: 25px;
}
.balance_top p:last-child {
	font-size: 0.875em;
	line-height: 20px;
}
.balance_detail {
	width: 90%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.balance_detail_tit {
	width: 96%;
	padding: 0 2%;
	font-size: 14px;
	color: #1cba93;
	border-bottom: 1px solid #c8c8c8;
	line-height: 24px;
}
.balance_list {
	width: 96%;
	padding: 10px 2%;
	border-bottom: 1px solid #c8c8c8;
	clear: both;
	overflow: hidden;
}
.balance_list .date {
    color: #c8c8c8;
    width: 50%;
    float: left;
    font-size: 0.75em;
    line-height: 20px;

}
.balance_list .project {
    width: 100%;
    font-size: 0.75em;
    line-height: 20px;
    margin-bottom: 10px;
}
.balance_list .sum {
	width: 50%;
	color: #1cba93;
	float: right;
	text-align: right;
	font-size: 0.75em;
	line-height: 20px;
}

/*余额提现 积分兑现 takebalance takepoint*/
.takebalance_input {
	width: 80%;
	padding: 0 10%;
	margin-top: 10px;
	background: #fff;
	height: 50px;
	line-height: 50px;
}
.takebalance_input input {
	width: 100%;
	border: none;
}
.takebalance_note {
	width: 90%;
	margin: 0 auto;
	font-size: 0.75em;
	padding-top: 10px;
}

/*我的主页 mypage*/
.mypage {
	width: 90%;
	padding: 10px 5% 20px 5%;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.myphoto {
	width: 60px;
	float: left;
	padding-top: 20px;

}
.myphoto .myphoto_img {
	width: 60px;
	height: 60px;
	/*background: #000;*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.myphoto .myphoto_img img {
	width: 100%;
	height: 100%;
	border-radius:50%;
}
.myinfo {
	margin-left: 70px;
}
.myinfo p {
	font-size: 0.875em;
	width: 100%;
	line-height: 22px;
}
.myinfo .my_indent {
	width: 68%;
	text-indent: -32%;
	padding: 0 0 0 32%;
}
.myinfo .myname {
	width: 100%;
	font-size: 1.25em;
	line-height: 24px;
}
.myinfo .small {
	font-size: 0.75em;
}
.mymark {
	color: #c8c8c8;
	width: 100%;
	clear: both;
	overflow: hidden;
}
.mymark .mark_list {
	width: 100%;
	line-height: 30px;
	vertical-align: middle;
	clear: both;
	overflow: hidden;
}
.mymark .mark_list .mark_list_left {
	font-size: 0.875em;
	width: 60px;
	float: left;
	text-align: right;
}
.mymark .mark_list .mark_list_right{
	width: 66%;
	padding-left: 5px;
	float: left;
	text-align: left;
	vertical-align: middle;
}
.mymark .mark_list .mark_list_right img {
	padding-left: 3px;
	width: 16px;
	height: 16px;
	position: relative;
	top: -3px;
}
.mypage_tab {
	width: 100%;
	margin: 10px 0;
	clear: both;
	overflow: hidden;
}
.mypage_tab ul li {
	padding:5px;
	margin: 5px;
	text-align: center;
	float: left;
	font-size: 0.875em;
	color: white;
	background-color: #4fc1e9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.bg_white {
	background: #fff;
}
.mypage_service {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	background: #fff;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.service_box {
	width: 130px;
	margin: 0 10px 0 0;
	display: inline-block;
}
.mypage_service::-webkit-scrollbar {
	display: none;
}
.service_box .service_img {
	width: 130px;
	height: 130px;
	/*background: #000;*/
}
.service_box .service_tit {
	line-height: 30px;
	font-size: 0.875em;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.service_box .sale {
	width: 60%;
	float: left;
	font-size: 0.75em;
	text-align:left;
}
.service_box .price {
	width: 40%;
	float: right;
	font-size: 0.75em;
	text-align:right;
	color: red;
}
.mypage_personal {
	width: 100%;
	padding: 5px 0;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.mypage_personal_top {
	width: 90%;
	padding: 0 5%;
	clear: both;
	overflow: hidden;
}
.mypage_personal .personal {
	width: 40%;
	float: left;
	font-size: 0.875em;
}
.mypage_personal .release {
	width: 20%;
	float: right;
	border: 1px solid #4fc1e9;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 25px;
	color: #4fc1e9;
	font-size: 0.875em;
}
.mypage_personal .myarticle {
	width: 90%;
	padding:0 5%;
	margin: 10px 0;
	font-size: 0.875em;
	clear: both;
	overflow: hidden;
}
.mypage_personal .myarticle .article_date,
.mypage_personal .myarticle .article_title {
	line-height: 24px;
}
.mypage_personal .myarticle .article_date {
	width: 75%;
	float: left;
}
.article_state {
	width: 20%;
	float: right;
	text-align: center;
	background: #4fc1e9;
	color: #fff;
	line-height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mypage_personal .myarticle .comment {
	background: url(../images/icon_comment.png) no-repeat left center;
	background-size: 16px;
	width: 30%;
	float: left;
	padding-left: 20px;
	line-height: 30px;
	font-size: 0.75em;
	color: #c8c8c8;
}
.mypage_personal .myarticle .view {
	background: url(../images/icon_view.png) no-repeat left center;
	background-size: 16px;
	width: 30%;
	float: left;
	padding-left: 25px;
	line-height: 30px;
	font-size: 0.75em;
	color: #c8c8c8;
}
.mypage_personal .myarticle .right {
	width: 20%;
	float: right;
	line-height: 30px;
	font-size: 1.5em;
	text-align: center;
	color: #c8c8c8;
}

/*个人专栏 personalcolumn*/
.personal_article {
	width: 90%;
	height: 200px;
	padding: 5px 5%;
	background: #fff;
}
.article_comment {
	width: 90%;
	padding: 0 5%;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.article_comment_list {
	width: 100%;
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #c8c8c8;
	clear: both;
	overflow: hidden;
}
.article_comment_left {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
}
.article_comment_left img {
	border-radius: 50%;
    height: 40px;
    width: 40px;
}
.article_comment_right {
	margin-left: 50px;
}
.article_comment_right .comment_username {
	font-size: 1em;
	line-height: 24px;
}
.article_comment_right .comment_date {
	font-size: 0.75em;
	line-height: 24px;
}
.article_comment_right .comment_detail {
	font-size: 0.75em;
	line-height: 16px;
}

/*个人专栏编辑 editpersonalcolumn*/

.edit_tit,
.edit_article {
	border: none;
	width: 90%;
	padding: 0 5%;
	font-size: 1em;
}
.edit_tit {
	height: 50px;
	line-height: 50px;
}
.edit_article {
	height: 200px;
	padding-top: 10px;
}

/*推荐奖励 recommend*/
.recommend_box {
	position: relative;
	width: 250px;
	height: 170px;
	margin:10px auto 0 auto;
	/*background: #e5e5e5;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.recommend_box_top {
	position: absolute;
	top: 50px;
	left: 100px;
	padding: 5px 0;
	/*background: #fff;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*position: relative;*/
}
.recommend_box .user_photo {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
}
.qr_img {
	width: 170px;
	height: 170px;
	margin: 20px auto;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid white;
	position: absolute;
	bottom: -15px;
	left: 115px;
}
.recommend_code {
	margin: 55px 0 25px 0;
	color: #505050;
	line-height: 40px;
	font-size: 1.125em;
	text-align: center;
}

/*意见反馈 feedback*/
.feedback {
	border: none;
	width: 90%;
	margin:0 auto;
	font-size: 1em;
	height: 200px;
	padding: 5px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*添加银行卡 addcard*/
.card_box {
	width: 90%;
	padding: 0 5%;
	background: #fff;
	margin-bottom: 2px;
	clear: both;
	overflow: hidden;
	line-height: 50px;
}
.card_box .name {
	width: 40%;
	float: left;
	text-align: center;
}
.card_box .num {
	float: right;
	width: 55%;
	font-size: 0.875em;
}
.addcard_box {
	width: 90%;
	padding: 0 5%;
	background: #fff;
	margin: 20px 0 10px 0;
	clear: both;
	line-height: 50px;
}
.addcard_box .addbank_name {
	width: 40%;
	float: left;
	text-align: center;
}
.addcard_box .addbank_num {
	float: right;
	width: 55%;
	font-size: 0.875em;
}
.addcard_box .addbank_num input {
	border: none;
	width: 100%;
}
.mar_center {
	margin: 0 auto;
}
.bank_list {
	width: 40%;
	position: relative;
	top: -50px;
	left: 5%;
	background: #fff;
	display: none;
	height: 200px;
	overflow-y: auto;
}
.bank_list li {
	height: 38px;
	line-height: 38px;
	border: 1px solid #c8c8c8;
	display: block;
	margin: 5px;
	text-align: center;
}
.bank_list li img {
	display: block;
}
/*by yjl*/
#cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    font-family: 'Microsoft YaHei';
    z-index: 32000;
}
#content{
    width: 84%;
    position: absolute;
    left: 7%;
    top: 50%;
    background: #fff;
    border-radius: 6px;
}
#content>div.chooseupdate{
    overflow: hidden;
    width: 86%;
    line-height: 34px;
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 24px;
}
#content>p{
    line-height: 46px;
    font-size: 26px;
    color: #4fc1e9;
    border-bottom: 2px solid #909090;
    margin: 0px;
    text-align: center;
}
#content>div.chooseupdate>div.later{
    float: left;
    width: 44%;
    border-radius: 6px;
    background: #bbb;
    color: #909090;
    text-decoration: underline;
}
#content>div.chooseupdate>div.rightaway{
    float: right;
    width: 44%;
    border-radius: 6px;
    background: #4fc1e9;
    color: #ffffff;
}
#content>div.chooseupdate>div.rightawayspe{
    margin: 0px auto;
    width: 70%;
    border-radius: 6px;
    background: #4fc1e9;
    color: #ffffff;
}
.updatecontent{
    padding: 4px 15px 0px;
}
.updateversion{
    padding: 9px 15px 0px;
}
.updatecontent,.updateversion{
    font-size: 14px;
    color: #505050;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.updatecontent>p,.updateversion>p{
    margin: 10px 0px;
}









