#reply_layer{
    display: none;
    position: fixed;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 30000;
    overflow: auto;
}
#reply_layer_header,.healthRecord{
    width: 100%;
    height: 45px;
    background: #1CBA93;
    text-align: center;
    position: fixed;
    top:0;
    z-index: 33333;
    color: #fff;
    overflow: hidden;
}

#title,#title1{
    height: 40px;
    line-height: 40px;
    color: #909090;
    text-align: center;
    font-size: 14px;
}
.message_li{
    padding: 0 12px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
#reply_layer_header .header-lefts,.healthRecord .header-lefts{
    width: 20%;
    float: left;
    line-height: 45px;
    font-size: 30px;
    height: 45px;
}
#reply_layer_header .header-lefts p,.healthRecord .header-lefts p{
    background: url('../images/normalicon/return.png')no-repeat center center;
    background-size: 18px;
    height: 45px;
}
#reply_layer_header .header-center,.healthRecord .header-center{
    width: 60%;
    float: left;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}
#reply_layer_header .header-right,.healthRecord .header-right{
    width: 20%;
    float: right;
    height:45px;
    line-height: 45px;
}
#reply_layer_content{
    margin-top: 45px;
}
.message_content{
    width: 100%;
}
.message_content>p{
    width: 100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.message_content>p>span{
    width: 70%;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#message_list{
    margin-bottom: 58px;
}
.message_operation{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    text-align: right;
}

.editor+span{
    color: #e8e8e8;
}
.message_operation>span{
    margin: 17px 5px;
    line-height: 15px;
    display: inline-block;
    font-size: 14px;
}
.message_operation>span.del{
    margin: 0;
    padding: 17px 5px;
    color: #e95c6a;
}
.message_operation>span.editor{
    margin: 0;
    padding: 17px 5px;
    color: #1CBA93;
}
#reply_mask{
    display: none;
    position: fixed;
    z-index: 1111111;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
}
#mask_layer{
    position: absolute;
    margin:-110px 0 0 -40%;
    top:50%;
    left:50%;
    height:220px;
    width: 78%;
    background-color:#FFF;
    pointer-events: auto;
}
#mask_layer_content>div{
    margin-left: 5%;
    width: 90%;
    height: 140px;
    resize: none;
    overflow: auto;
    padding: 15px 0;
    line-height: 1.7em;
    font-size: 14px;
    border: none;
    outline: none;
    margin-right: auto;
    outline: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    -webkit-user-modify: read-write-plaintext-only;
}
textarea[placeholder],[placeholder],*[placeholder]{
    color:#909090 !important;
}
#mask_layer_button{
    overflow: hidden;
}
#mask_layer_button>div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 50%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #909090;
    float: left;
}
#mask_layer_button>div.select{
    color: #1CBA93;
}
#cancel{
    border-right: 1px solid #d5d5d5;
}
#bottom{
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}
#bottom .button_01{
    margin-left: 5%;
    position: absolute;
    bottom: 8px;
    background: #fff;
}