.node_edit{
    width: 100px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    border: 2px solid rgb(74, 139, 194);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.basic_a,.basic_b{
	width:950px;
	height:30px;
	margin:10px 0 10px 20px;
}
.basic_a p{
	width:500px;
	float:left;
}
.basic_a input{
	width:300px;
}
.basic_b{
	line-height:30px;
}
.basic_b p{
	width:250px;
	float:left;
}
.basic_c p{
	width:200px;
	float:left;
  margin: 20px 50px 0 0px;
}
.basic_c{
	width:1000px;
	height:60px;
	margin:10px 0 10px 20px;
}
.basic_a label,.basic_b label,.basic_c label{
	display:inline-block;
	width:70px;
}
.bottom_div_con select{
	width:120px;
}
h5:before{
    clear: both;
}
h5{
    margin: 40px 0 0 20px;
}
.basic_d{
    margin-left: 80px;
}
.basic_d p{
	float: left;
	margin: 10px 15px 10px 15px;
}
.basic_d p label{
background: #ffaf19;
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    vertical-align: top;
    font-weight: bold;
        margin-right: 6px;
}