*{
	margin:0;
	padding:0;
}
body{
	overflow-y:scroll;
}
ul{
	list-style:none;
}
li{
	display:inline-block;
}
header{
	width:1000px;
	height:32px;
	margin:40px auto 20px;
}
.ul_click{
	list-style:none;
}
.ul_click li{
	width:170px;
	height:30px;
	border-radius:4px;
	text-align:Center;
	display:inline-block;
	border:1px solid orange;
	line-height:30px;
	font-weight:bold;
	margin-left:121px;
	cursor:pointer;
	background:#fff;
	color:#000;
}
.ul_click li:hover{
	background:orange;
	color:#fff;
}
div.content{
	width:1000px;
	border:1px solid #50c1e9;
	margin:auto;
}
.title{
  height: 35px;
  line-height: 35px;
  background: #50c1e9;
  color: #fff;
  font-weight: bold;
  text-indent: 20px;
}
.baby_info ul{
	margin: 25px 0px 15px 25px;
}
.baby_info ul li{
	width:270px;
}
.baby_info ul li.address{
	width:400px;
}
h3{
  height: 35px;
  background: rgb(255, 192, 192);
  font-size: 16px;
  line-height: 35px;
  text-indent: 20px;
}
.data_a_ul{
	width:900px;
	margin:30px auto;
}
.data_a_ul li{
	width:170px;
}
.first_b p{
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  text-indent: 20px;
}
.first_b table{
	width:1000px;
	border-collapse:collapse;
}
.first_b table td{
	border-top:1px solid rgb(213,213,213);
	border-bottom:1px solid rgb(213,213,213);
}
.first_b table th{
	background:#eee;
	height:35px;
}
.first_b table tr{
	height:35px;
	text-align:center;
}
.first_b table tr:hover{
	background:#ccc;
}
.first_b table span{
	display:block;
	height:25px;
}
.first_c .img{
	width:500px;
	height:400px;
	background:red;
	margin:30px;
}
.first_c .mark{
	margin-bottom:50px;
	margin-left:30px;
	height:120px;
	margin-top: 20px;
}
.first_c .mark span{
	padding:15px;
	background:#50c1e9;
	margin-right:15px;
	border-radius:4px;
	color:#fff;
	float:left;
	margin-bottom:20px;
}
.baby_info ul li span:first-of-type{
	display:inline-block;
	width:150px;
	text-align:center;
	color:#565656;
}
.baby_info ul li span:last-of-type{
	display:inline-block;
	text-align:left;
  color: #50C1E9;
  font-weight: bold;
}