.fj{
    width:900px;
    margin-left:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fj label{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.fj input{
    width: 135px;
    max-width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fj select{
    width: 124px;
}
.bu{
    width: 100px;
    height: 22px;
    line-height: 22px;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid rgb(74, 139, 194);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}


.tishi{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #009DD9;
    font-weight: bold;
}
.con_contral select{
    width: 120px;
}
.bus{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #FDB42B;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}
.con_contral input[type="checkbox"]{
    position: relative;
    top: 1px;
}
.con_contral input[type="text"] {
    width: 100px;
}
.bottom_div_con input{
	background:#fff;
	border:0;
	color:#000;
}
.table_content td{
	  max-width: 162px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}