.fj{
    width:1000px;
    margin-left:30px;
    margin-top: 10px;
}
.fj textarea{
    position: relative;
    margin: 0px;
    height: 70px;
    width: 160px;
    resize:none;
    background:#fff;
    color:#000;
}
#bottom_div{
	height:500px;
	overflow:auto;
}
.fj label{
    display: inline-block;
    width: 90px;
    text-align: center;
}
.fj input{
    width: 100px;
}
.fj select{
    width: 120px;
}
.fj .tp{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: inline-block;
}
.fj .bq{
    width:900px;
    margin-left:30px;
    margin-top: 10px;
}
.check{
    width: 30px!important;
   position: relative;
    top: 1px;
}
.box{
    margin-top: 10px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.box span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.tishi{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #009DD9;
    font-weight: bold;
}
.con_contral select{
    width: 120px;
}
.bu{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #FDB42B;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 5px;
}
.con_contral input[type="checkbox"]{
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.con_contral input[type="text"] {
    width: 100px;
}


.con_contral label{
    line-height: 50px;
    color: #009DD9;
}
.bottom_div input{
	background:#fff;
	border:1;
	color:#000;
}
#ask_tag label{
	padding: 5px 10px;
	background: #B91919;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
}
#product_tag input{
    height: 20px;
    line-height: 30px;
    position: relative;
    top: 5px;
}
#product_tag span{
    padding: 5px 10px;
    background: #4FC1E9;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dzstyle{
width: 100px;
    height: 22px;
    line-height: 22px;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid rgb(74, 139, 194);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
 /* boxZhezhao */
.boxZhezhao{
	position:absolute;width:800px;
left:50%;height:auto;z-index:100;
background-color:#fff;border:1px #ddd solid;
padding:1px;
}
.boxZhezhao h2{height:25px;font-size:14px;background-color:#aaa;position:relative;padding-left:10px;line-height:25px;color:#fff;}
.boxZhezhao h2 a{position:absolute;right:5px;font-size:12px;color:#fff;}
.boxZhezhao .list{padding:10px;overflow: auto;width:97%;height:500px;}
.showbtn {font:bold 24px '微软雅黑';}
#bg{background-color:#666;position:absolute;z-index:99;
left:0;top:0;display:none;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}
