.content .con_contral {
	height:50px;
	line-height: 50px;
	font-size: 20px;
	color: #009DD9;
	font-weight: bold;
}
.bottom_div_con {
	/*text-align: center;*/
	margin: 0 auto;
	width: 90%;
	height: 50px;
	line-height: 50px;
}
.bottom_div_con_first {
	float: left;
	width: 33%;
	display: inline-block;
}