.bottom_div{
	height:250px;
}
.resultList{
    height: 35px;
    line-height: 35px;
    margin: 20px 0 10px 20px;
    max-width: 300px;
    float: left;
}
.bottom_div_con label{
  padding: 4px 8px;
  float:left;
}
.bottom_div_con .short{
    width: 100px;
    float: right;
    margin-top: 7px;
    height: 28px;
    border: 1px solid #ccc;
}
.bottom_div_con .normal{
    width: 150px;
    float: right;
    margin-top: 7px;
    height: 28px;
    border: 1px solid #ccc;
}
.bottom_div_con .long{
    width: 200px;
    float: right;
    margin-top: 7px;
    height: 28px;
    border: 1px solid #ccc;
} 