.content .con_contral {
	height:50px;
	line-height: 50px;
	font-size: 20px;
	color: #009DD9;
	font-weight: bold;
}
.bottom_div_con ul{
	width: 90%;
	margin: 0 auto;
	list-style: none;
}
.bottom_div_con ul li{
	margin: 10px 0 0 10px;
  color: #666;
  height: 20px;
  line-height: 20px;
  float: left;
}
.bottom_div_con ul li input{
  vertical-align: middle;
}
.bottom_div_con ul li label{
	width:130px;
	text-indent:10px;
	display:inline-block;
	height:20px;
}
.content .bottom_div{
	height:250px;
}

.bottom_div_con .bottom_div_con_tit label{
	width:130px;
	text-indent:10px;
	display:inline-block;
	height:20px;
}
.bottom_div_con .bottom_div_con_tit input{
	width:150px;
}
