section{
    width: 100%;
    color: #666;
		height:50px;
		text-indent: 22px;
}
section p:first-child{
	font-size:15px;
	height:25px;
	line-height:25px;
	
}
section p:last-child{
	font-size:13px;
	height:25px;
	line-height:25px;
}
p.input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 15px;
    background: #fff;
}
p label{
text-indent: 22px;
    width: 25%;
}
p input{
height: 30px;
    margin-top: 0px;
    border: none;
    width: 65%;
}
p input.yzm{
	width:45%;
}
p span.getyzm{
    display: inline-block;
    width: 24%;
    background: #00BCD4;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.yybtn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #03A9F4;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
}