#header{
    background: #ff813d;
    color: #fff;
}
#header .header-left, #header .headerLeft{
    color: #fff;
}
.header-left>span {
    display: inline-block;
    background: url(../images/images_main/left_arrow.png)no-repeat left center;
    background-size: 9px;
    padding-left: 18px;
}
#evaluation_title{
    overflow: hidden;
    margin: 0 auto;
    width: 260px;
}
.divider{
    overflow: hidden;
    width: 75px;
    height: 1px;
    background: #e8e8e8;
    line-height: 36px;
    margin-top: 18px;
}
.title_text{
    width: 110px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    color: #909090;
}
#evaluation_title>span{
    display: inline-block;
    float: left;
}