.row{
    width: 100%;
    background-color: white;
}
.font1{
    line-height: 50px;
    margin-left: 5%;
    display: inline-block;
    width: 25%;
    font-size: 0.875em;
}
.font{
    line-height: 35px;
    margin-left: 5%;
    color: darkgrey;
    font-size: 0.875em;
}
ul{
    list-style: none;
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding-bottom: 5px;
}
li{
    float: left;
    margin-left:15px;
    text-align: center;
}
li span{

    border: 1px solid #ff813d;
    color:#ff813d ;
    font-size: 0.875em;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}
li span.on{
	color:#fff;
	background:#ff813d;
}
#tag>li{
    margin: 5px 0 5px 15px;
}