.step_1,.step_2{
    background:#fff;
}
.step_1 label,.step_2 label{
    width:22%;
    height:50px;
    text-align:left;
    padding-left:5%;
    float:left;
    font-size:14px;
    color:#666;
    line-height:50px;
}
.step_1 input,.step_2 input{
    width:70%;
    height: 50px;
    text-indent: 10px;
    border: 0;
}
.step_1 .get_reg_code{
    display:inline-block;
}
.next_step,.regist{
    margin-top:20px;
}

#code{
    width:43%;
}
#regist_baby_boy,#regist_baby_girl{
    width:20px;
    height:20px;
    float:left;
    position: Relative;
    top: 15px;
}
label.sex{
    width:30px;
}
#city{
    display: inline-block;
    height: 50px;
    width: 70%;
    line-height: 50px;
    font-size: 14px;
}
#city select{
    width:32%;
}
#street_address{
    text-indent:25px;
    background:#fff;
    width:100%;
    color:#666;
}
#xxaddress{
    text-indent:25px;
}
p.agreement{
    width: 90%;
    text-align: right;
    margin: 5px auto 40px;
    font-size: 12px;
}
p.agreement input{
    position:relative;
    top:2px;
    margin-right:10px;
}