@charset "utf-8";

.mycon_box {
	width: 90%;
	padding: 10px 5%;
	background: #fff;

}
.mycon_left {
	float: left;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.mycon_left img {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.mycon_right {
	margin-left: 60px;
	color: #c8c8c8;
}
.dorcor_name {
	color: #222;
	width: 35%;
	float: left;
	text-align: left;
}
.con_time {
	font-size: 0.875em;
	width: 65%;
	float: right;
	text-align: right;
}
.con_info {
	width: 100%;
	font-size: 0.875em;
	line-height: 2em;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.red_point {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: red;
	position: absolute;
	right: -4px;
	top: 0;
	font-size: 0.75em;
	text-align: center;
	line-height: 15px;
	color: #fff;
}