
body {
    background: #ffffff;
    color: #505050;
}

.gray_ss {
    height: 4px;
    width: 100%;
    background: #F7F7F7;
}

.gray_s {
    height: 10px;
    width: 100%;
    background: #F7F7F7;
}

.personal_list > div {
    width: 100%;
    padding: 0px 15px 0px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.personal_list .personal_left{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 30%;
}

.personal_list .personal_right {
    float: right;
    width: 68%;
    height: 50px;
    line-height: 50px;
}
.personal_list .personal_right div{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #CCCCCC;
    width: 86%;
    -webkit-box-shadow: 0px -1px 1px 0px #ccc;
    -moz-box-shadow: 0px -1px 1px 0px #ccc;
    box-shadow: 0px -1px 1px 0px #ccc;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 10px;
    color: #505050;
    overflow: hidden;
    position: relative;
}
.personal_list .personal_right .selectmenu{
    position: absolute;
    right: 0px;
    top:0px;
    background: #ffffff;
    width:32px;
    text-align: center;
}
.personal_list .personal_right .selectmenu img{
    width: 20px;
}
/*.personal_list .personal_right select{*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*border: 1px solid #CCCCCC;*/
    /*width: 86%;*/
    /*-webkit-box-shadow: 0px -1px 1px 0px #ccc;*/
    /*-moz-box-shadow: 0px -1px 1px 0px #ccc;*/
    /*box-shadow: 0px -1px 1px 0px #ccc;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*border-radius: 6px;*/
/*}*/
.personal_list .personal_right input{
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    width: 86%;
    -webkit-box-shadow: 0px -1px 1px 0px #ccc;
    -moz-box-shadow: 0px -1px 1px 0px #ccc;
    box-shadow: 0px -1px 1px 0px #ccc;
    height: 30px;
    border-radius: 6px;
    color: #505050;
}

#cover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 2000;
    display: none;
    font-size: 14px;
}
#cover>div{
    width: 246px;
    position: absolute;
    left: 50%;
    margin-left: -131px;
    top: 98px;
    padding: 8px;
    max-height: 305px;
    border: 2px solid #f7f7f7;
    background: #ff813d;
    border-radius: 6px;
}
#cover>div>p{
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}
#cover>div>div{
    background: #ffffff;
    border-radius: 6px;
    max-height: 279px;
    overflow-y: scroll;
    text-align: center;
    width: 246px;
}

#cover table{
    background: #ffffff;
    border-radius: 6px;
    width: 246px;
}
#cover table tr{
    height: 54px;
    border-bottom: 1px solid #cccccc;
}
#cover>p{
    position: absolute;
    width: 22px;
    height: 22px;
    background: #ffffff;
    right: 70px;
    top: 90px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}