@charset "utf-8";

.pay_state {
	text-align: center;
	margin: 20px 0;
}
.pay_money {
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 35px;
}
.mb_20 {
	margin-bottom: 20px;
}
.fail_gopay {
	color: #969696;
	font-size: 1em;
	text-align: center;
	margin-bottom: 20px;
}