@charset "utf-8";

/*个人中心*/
.personal_box {
	width: 90%;
	padding: 10px 5%;
	background: #fff;
	clear: both;
	overflow: hidden;
}
.personal_left {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
}
.personal_left img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}
.personal_right {
	margin-left: 90px;
	background: url("../images/next.png") no-repeat right center;
	background-size: 9px;
}
.personal_right p {
	line-height: 1.5em;
}
/*.personal_right .username {*/
	/*font-size: 1.125em;*/
/*}*/
.myorder {
	width: 33%;
	float: left;
	text-align: center;
	background-size: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 15px;
}
#mypersonal_box{
	width: 100%;
	background: #F8F8F8;
	padding: 15px 0;
	box-shadow: 0px 5px 5px 0px #eee;
}
#mypersonal_box span{
	display: inline-block;
	border-right: 1px solid #6E6E6E;
	width: 100%;
	line-height: 16px;
}
.myorg {
    width: 34%;
    float: left;
    text-align: center;
    /*border-right: 1px solid #dcdcdc;*/
    /*background: url("../images/next.png") no-repeat 90% center;*/
    background-size: 9px;
    /*line-height: 50px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mydoctor {
    width: 33%;
    float: left;
	text-align: center;
	/*background: url("../images/next.png") no-repeat right center;*/
	background-size: 9px;
	/*line-height: 50px;*/
}
.personal_list {
	background: #fff;
	font-size: 15px;
}
.personal_com {
	width: 80%;
	padding-left: 10%;
	margin: 0 auto;
	line-height: 50px;
}
.tool{
	margin-top: 20px;
    padding: 6px 5%;
    overflow: hidden;
}
.tool>div{
    width: 33.3%;
    float: left;
    text-align: center;
}
.tool>p{
    color: #909090;
    margin: 12px 0;
}
.ml_20 {
	margin-left: 20px;
}
.list01 {
	background-image: url("../images/images_main/personal_icon01.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.list02 {
	background-image: url("../images/images_main/personal_icon02.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.list03 {
	background-image: url("../images/images_main/personal_icon03.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 26px, 9px;
	background-position: left center, right center;
}
.list04 {
	background-image: url("../images/images_main/personal_icon04.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.list05 {
	background-image: url("../images/images_main/personal_icon08.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.list06 {
	background-image: url("../images/images_main/personal_icon06.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.list07 {
	background-image: url("../images/images_main/personal_icon05.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 27px, 9px;
	background-position: left center, right center;
}
.list08 {
	background-image: url("../images/images_main/icon_zhushou02.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 26px, 9px;
	background-position: left center, right center;
}
.list09 {
	background-image: url("../images/images_main/personal_icon09.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 26px, 9px;
	background-position: left center, right center;
}
.list10 {
    background-image: url("../images/images_main/icon_zhushou02.png"), url("../images/next.png");
    background-repeat: no-repeat;
    background-size: 25px, 9px;
    background-position: left center, right center;
}
.list11 {
    background-image: url("../images/images_icon/vip.png"), url("../images/next.png");
    background-repeat: no-repeat;
    background-size: 23px, 9px;
    background-position: left center, right center;
}
.list12 {
	background-image: url("../images/images_main/baby_management.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 23px, 9px;
	background-position: left center, right center;
}
.list13 {
	background-image: url("../images/images_icon/mall.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 23px, 9px;
	background-position: left center, right center;
}
.list14 {
	background-image: url("../images/images_icon/hospital.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 23px, 9px;
	background-position: left center, right center;
}
.list15 {
	background-image: url("../images/images_icon/hospital_yylb.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 23px, 9px;
	background-position: left center, right center;
}
.list16 {
	background-image: url("../images/images_icon/hospital_jzr.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 22px, 9px;
	background-position: left center, right center;
}
.list17 {
	background-image: url("../images/images_icon/hospital_jf.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 21px, 9px;
	background-position: left center, right center;
}
.list18 {
	background-image: url("../images/images_icon/hospital_jyjg.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 20px, 9px;
	background-position: left center, right center;
}
.list19 {
	background-image: url("../images/images_icon/hospital_cf.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 21px, 9px;
	background-position: left center, right center;
}
.exit_btn {
	/*text-align: center;*/
	/*line-height: 50px;*/
	margin-top: 50px;
}

/*我的账户*/
.yue {
	background-image: url("../images/images_icon/icon_yue.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.jifen {
	background-image: url("../images/images_icon/icon_jf.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.youhuiquan {
	background-image: url("../images/images_icon/icon_d.png"), url("../images/next.png");
	background-repeat: no-repeat;
	background-size: 25px, 9px;
	background-position: left center, right center;
}
.num_show {
	padding-right: 10%;
	float: right;
	color: #c8c8c8;
	font-size: 0.875em;
}

/*积分 余额*/
.balance_top {
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: #ff813d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
}
.balance_top p:first-child {
	font-size: 1.375em;
	padding-top: 25px;
}
.balance_top p:last-child {
	font-size: 0.875em;
	line-height: 20px;
}
.balance_detail {
	width: 90%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
.balance_detail_tit {
	width: 96%;
	padding: 0 2%;
	font-size: 0.75em;
	color: #ff813d;
	border-bottom: 1px solid #c8c8c8;
	line-height: 24px;
}
.balance_list {
	width: 96%;
	padding: 10px 2%;
	border-bottom: 1px solid #c8c8c8;
	clear: both;
	overflow: hidden;
}
.balance_list .date {
	width: 100%;
	font-size: 0.75em;
	line-height: 20px;
	margin-bottom: 10px;
}
.balance_list .project {
	width: 50%;
	float: left;
	/*color: #c8c8c8;*/
	font-size: 0.875em;
	line-height: 20px;
}
.balance_list .sum {
	width: 50%;
	color: #558ed5;
	float: right;
	text-align: right;
	font-size: 0.875em;
	line-height: 20px;
}