@charset "utf-8";

.recommend_box {
	width: 250px;
	height: 270px;
	margin:10px auto 0 auto;
	/*background: #e5e5e5;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.recommend_box_top {
	padding: 5px 0;
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}
.recommend_box .user_photo {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

}
.recommend_box .user_photo img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.qr_img {
	width: 170px;
	height: 170px;
	margin: 20px auto;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid white;
	position: absolute;
	bottom: -15px;
	left: 115px;
}
.recommend_code {
	color: #505050;
	line-height: 40px;
	font-size: 1.125em;
	text-align: center;
}

.share_cli{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 8px;
}
.share_cli .share_icon{
	width:35px;
	height:35px;
	display:inline-block;
	margin: 0 20px;
}
#zz{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000 url(../js/ts.png) no-repeat center 5px;
    opacity: 0.7;
    background-size: 100%;
    display: none;
    z-index:1000;
}