@charset "utf-8";

.container1,
.container2 {
	width: 100%;
	margin-bottom: 100px;
}
.row{
	padding: 14px 0;
	width: 100%;
	background-color: white;
}
.row ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.row ul li{
	width: 33%;
	float: left;
	text-align: center;
}
.b{
	font-size: 13px;
}

.blue{
	display: inline-block;
	width: 100%;
	border-radius: 2px;
	font-size: 15px;
	color: #FF813D;
}
.grey{
	display: inline-block;
	width: 100%;
	color: #444;
	font-size: 15px;
}

.doctor_box {
	width: 94%;
	padding: 10px 3%;
	background: white;
	border-bottom: 1px solid #BCBCBC;
	clear: both;
	overflow: hidden;
	position: relative;
}
.doctor_left {
	width: 50px;
	margin-top: 30px;
	float: left;
}
.doctor_left .doctor_photo {
	width: 50px;
	height: 50px;
	/*background: black;*/
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.doctor_left .doctor_photo img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.doctor_center {
	margin-left: 60px;
	font-size: 0.75em;
	line-height: 1.5em;
	/*width: 63%;*/
}
.doctor_center .doctor_name {
	font-size: 15px;
	line-height: 27px;
}
.mymark {
	color: #c8c8c8;
	width: 100%;
}
.mymark .mark_list {
	width: 100%;
	line-height: 24px;
	vertical-align: middle;
	overflow: hidden;
}
.mymark .mark_list .mark_list_left {
	font-size: 0.875em;
	width: 50px;
	float: left;
}
.mymark .mark_list .mark_list_right{
	margin-left: 55px;
	text-align: left;
	vertical-align: middle;
}
.mymark .mark_list .mark_list_right img {
	padding-left: 3px;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
}

.doctor_right {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0.785em;
	color: #c8c8c8;
}
.doctor_right .juli {
	background: url(../images/icon_dingwei.png) left top no-repeat;
	background-size: 20%;
	height: 24px;
	line-height: 24px;
	padding-left: 18px;
	color: #222;
}
.choose_state {
	position: absolute;
	right: 30px;
	top: 80px;
	width: 27px;
	height: 27px;
	background: url(../images/icon_choose_off.png) left center no-repeat;
	background-size: 27px;
}

.choose_state.select {
	background: url(../images/icon_choose_on.png) left center no-repeat;
	background-size: 27px;
}
.consultation_icon {
	background: url("../images/icon_consultation_off.png") no-repeat right center;
	background-size: 20px;
	width: 73px;
	height: 30px;
	position: absolute;
	right: 15px;
	bottom: 8px;
	font-size: 12px;
	line-height: 32px;
	color: #FF813D;
}
.consultation_icon.on {
	background: url("../images/icon_consultation_on.png") no-repeat right center;
	background-size: 20px;
}

.servicing {
	font-size: 0.75em;
	text-align: center;
	line-height: 2em;
	color: #ffcc32;
}
/*------------new----------------*/

.detailinfo{
	padding-top: 10px;
	width:100%;
	background:#ffffff;
	overflow: hidden;
	font-size: 15px;
}
.faceicon{
    width: 17%;
    margin-left: 2%;
    float: left;
    /*margin-top: 15px;*/
    text-align: center;
    font-size: 15px;
    color: #353030;
}
.faceicon span{
	padding-top: 4px;
	display: inline-block;
}
.faceicon img{
	border-radius: 50%;
    width: 64px;
    height: 64px;
}
.doctordesc{
    width: 78%;
    margin-left: 3%;
    float: left;
}
.iconbtn{
	display: inline-block;
	color: #fff;
	padding: 2px 5px;
	border-radius: 4px;
	margin-left: 10px;
	font-size: 13px;
	background: url(../images/images_main/button_one.png)no-repeat;
	background-size: 100% 100%;
}
.tag{

}
.doctordesc .a{
	font-size:15px;
	    margin-top: 5px;
}
.c ul,.d ul{
    color: #8E8E8E;
    height: auto;
    display: inline-block;
}
.a,.b,.c,.d,.e{
  margin-bottom: 5px;
}
.c,.d{
	width:100%;
	min-height:20px;
	font-size:12px;
}

.c li,.d li{
	float:left;
}
.c span,.d span{
	float:left;
}
.e{
	overflow: hidden;
}
.e span{
    /*background: #00BCD4;*/
    /*color: #fff;*/
    padding: 1px 3px;
    font-size: 12px;
    border-radius: 4px;
    float: left;
}
.e>span#can_date{
	background: #fff;
	display: none;
}
.e ul{
	float: left;
    font-size: 12px;
}
.e ul li{
	margin-right: 12px;
    height: 22px;
    line-height: 20px;
    text-indent: 7px;
    float: left;
	color: #989898;
}
.container_tab{
	background: #FF813D;
    overflow: hidden;
    padding: 14px 0;
    font-size: 14px;
	box-shadow: 0px 5px 5px 0px #eee;
}
.container_tab>div{
    width: 33%;
    float: left;
    text-align: center;
	color: #fff;
}
.container_tab>.select>span{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
#center_nav{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
/*新增*/
.doctordesc{
	overflow: hidden;
}
.e{
	float: right;
}
