@charset "utf-8";

/* ==========================================================================
Author's custom styles
========================================================================== */

/*
* common start
*/
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: Microsoft YaHei;
	background:#ffffff;
}
body::-webkit-scrollbar{
	display:none;
}
label{
	background:#fff;
	display:inline-block;
	color:#666;
}
ul li,
ol li {
	list-style: none;
}
input{
	font-size:14px;
}
input:focus{
	outline:none;
}
img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #222;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.dis-none {
	display: none;
}

.dis-block {
	display: block;
}

.red {
	color: red;
}

.white {
	color: white;
}

.black {
	color: black;
}

/*
* common end
*/

#header:before,
#header:after,
#banner:before,
#banner:after,
#container:before,
#container:after,
#footer:before,
#footer:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

#header:after,
#banner:after,
#container:after,
#footer:after {
	clear: both;
}

/*
* header start
*/
#header {
	width: 100%;
	height: 45px;
	background: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 999;
}

#header .tit {
	width: 90%;
	margin:0 auto;
}

#header .header-left,#header .headerLeft {
    width: 15%;
    float: left;
    line-height: 45px;
    font-size: 30px;
    height: 45px;
    color: #c8c8c8;
}
#header .header-left p,#header .headerLeft p {
	background: url("../images/prev_01.png") no-repeat center center;
	background-size: 30px;
	height: 45px;
}

#header .header-center {
    width: 70%;
    float: left;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}
#header .header-right {
    width: 15%;
    float: right;
    line-height: 45px;
    height: 45px;
}
#header .header-right p {
	width: 80%;
	line-height: 24px;
	height: 24px;
	border: 1px solid #4fc1e9;
	border-radius: 3px;
	margin: 10px auto;
	background: #4fc1e9;
	color: #fff;
	font-size: 0.875em;
}

.header_tab,.header_tab1 {  /*header_tab*/
	width: 70%;
	margin: 4px auto;
	height: 35px;
	line-height: 35px;
	clear: both;
	overflow: hidden;
	border: 1px solid #4fc1e9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #222;
	font-size: 0.875em;
}
.header_tab1{
    width: 270px;
}
.header_tab1>div{
    width:90px;
    border-right: 1px solid #4fc1e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.header_tab1>div:nth-child(3){
    border-right: 0px solid #4fc1e9;
}
.header_tab .tab_left {
	float: left;
	width: 50%;
}
.header_tab .tab_right {
	float: right;
	width: 50%;
}
.header_tab .select ,.header_tab1 .select{
	background: #4fc1e9;
	color: #fff;
}

/*
* header end
*/

/*
* banner start
*/


#banner {
	width: 100%;
	/*height: 150px;*/
}
#banner img {
	/*display: none;*/
}
/*
* banner end
*/



/*
* container start
*/
#container {
	width: 100%;
	margin:45px 0 50px ;
}



/*
* container end
*/

/*
* footer start
*/
#footer {
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	bottom: 0;
}
#footer ul a {
	display: block;
}

#footer ul li {
	width: 25%;
	height: 45px;
	padding-top: 5px;
	display: block;
	float:left;
	text-align: center;
	color: #c8c8c8;
}
#footer ul li.select {
	color: #4fc1e9;
}
#footer ul li p:last-child {
	font-size: 0.875em;
}

/*
* footer end
*/
/*----------button-----------*/
/*大蓝色  登录注册*/
.button_01{
	width: 90%;
  margin: 0 auto;
  height: 45px;
  background: #50c1e9;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  font-size:20px;
}
.button_01_grey{
	width: 90%;
  margin: 0 auto;
  height: 45px;
  background: #c8c8c8;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  font-size:20px;
}
/*小蓝色*/
.button_02{
	width: 50%;
  margin: 0 auto;
  height: 45px;
  background: #50c1e9;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  font-size:20px;
}

/*灰标签*/
.button_03{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #c8c8c8;
    text-align: center;
    font-size: 14px;
}


/*医生评价标签*/
.button_04{
    width: 20%;
    border-radius: 15px;
    color: white;
    background-color: #50c1e9;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.button_05{
    width: 20%;
    border-radius: 15px;
    color: white;
    background-color: #6DD9FF;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/*个人专栏小提交*/
.button_06{
    width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #50c1e9;
    text-align: center;
    font-size: 14px;
    color: white;
}


/*获取验证码*/
.button_07{
    width: 85px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #50c1e9;
    text-align: center;
    font-size: 14px;
    color: white;
}
/*灰色边距*/
p.gray_1{
	width:100%;
	height:10px;
	background:#f7f7f7;
}
p.gray_2{
	width:100%;
	height:2px;
	background:#f7f7f7;
	clear:both;
}
p.gray_3{
	width:100%;
	height:1px;
	background:#f7f7f7;
	clear:both;
}

/*蓝边蓝字居中小按钮*/
.button_08 {
	width: 30%;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #50c1e9;
	border: 1px solid #50c1e9;
}

/*我的主页医生标签*/
.button_09 {
	width: 30%;
	color: white;
	background-color: #4fc1e9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.button_10 {
	width: 30%;
	color: white;
	background-color: #92d4eb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

/*产品详情标签*/
.button_11 {
	font-size: 0.875em;
	line-height: 1.5em;
	background : #f7f7f7;
	color : #4fc1e9;
	padding: 5px;
	float: left;
	text-align: center;
	margin: 0 15px 15px 0;
	border-radius: 3px;
}
